/* Estrutura site */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, "Trebuchet MS", sans-serif;
    background: #fff url(../imagens/bg.png);
    margin: 15px;
}

#container {
    background: #ede9cc;
}

#topo {
    background-color: #dbcd87;
    height: 15.4em;
    min-height: 250px;
}

#area-logo {
    background: red;
}

#area-menu {
    background: blue;
}